---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Latinplace" description="LatinPlace australia">
  <main>
    <h1 class="text-4xl">Latin Place</h1>
    <a href="http://blog.latinplace.com.au" title="Latin Place Blog">
      <h2>Latin Place Blog</h2>
    </a>
  </main>
</Layout>
